body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 50px;
    color: #10161b;
    padding-left: 20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

